[submodule "lib-can-definitions"]
	path = lib-can-definitions
	url = https://github.com/HydrogreenPollub/lib-can-definitions.git
[submodule "app/lib-can-definitions"]
	path = app/lib-can-definitions
	url = https://github.com/HydrogreenPollub/lib-can-definitions.git
